body {
    background-color:#0c090e;
    color: #dad4d4;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 1px;

}

#topnav {
    list-style-type:none;
}

.navBtn {
    float:left;
    padding:16px;
    text-align:center;
    display:block;
}

.navBtn:hover {
    background-color: #a200ffb2;
    transition: color 0.1s ease;
}

.navBtn a:active {
    color:rgb(175, 3, 58);
}

.navBtn a {
    text-decoration: none;
    color: inherit;
}

#app {
    margin-top: 5rem;
    margin-left: 2rem;
}